arkivverket.noark5.tjenestegrensesnitt.eksempel/xsd/arkivstruktur103.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.arkivverket.no/standarder/noark5/tj/arkivstruktur " xmlns:as="http://www.arkivverket.no/standarder/noark5/tj/arkivstruktur " xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sawsdl="http://www.w3.org/ns/sawsdl" elementFormDefault="qualified" xmlns:ls="http://www.arkivverket.no/standarder/noark5/tj/loggingogsporing" xmlns:adm="http://www.arkivverket.no/standarder/noark5/tj/admin" xmlns:rest="http://www.kxml.no/rest/1.0" xmlns:n5mdk="http://www.arkivverket.no/standarder/noark5/tj/metadata" xmlns:fellesgeometrins="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" xmlns:planfellesns="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" xmlns:bvk="http://www.arkivverket.no/standarder/noark5/tj/bevaringogkassasjon" xmlns:matrikkelfellesns="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31">
  <!-- Generert av MetaTrans(1.1.0.0) - 13.05.2019 09:40:20-->
  <xs:import namespace="http://www.arkivverket.no/standarder/noark5/tj/loggingogsporing" schemaLocation="loggingogsporing103.xsd" />
  <xs:import namespace="http://www.arkivverket.no/standarder/noark5/tj/admin" schemaLocation="admin103.xsd" />
  <xs:import namespace="http://www.kxml.no/rest/1.0" schemaLocation="rest.xsd" />
  <xs:import namespace="http://www.arkivverket.no/standarder/noark5/tj/metadata" schemaLocation="metadata103.xsd" />
  <xs:import namespace="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Felles/Geometri/xml.schema/2012.01.31/giFellesGeometri20120131.xsd" />
  <xs:import namespace="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Plan/Felles/xml.schema/2012.01.31/giPlanFelles20120131.xsd" />
  <xs:import namespace="http://www.arkivverket.no/standarder/noark5/tj/bevaringogkassasjon" schemaLocation="bevaringogkassasjon.xsd" />
  <xs:import namespace="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31" schemaLocation="http://rep.geointegrasjon.no/Matrikkel/Felles/xml.schema/2012.01.31/giMatrikkelFelles20120131.xsd" />
  <xs:element name="Arkiv" type="as:ArkivType" />
  <xs:complexType name="ArkivListe">
    <xs:sequence>
      <xs:element name="arkiv" type="as:ArkivType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="ArkivType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_C24AA8BC_2F54_4277_AA3E_54644165DBD6">
    <xs:annotation>
      <xs:documentation>Arkiv er det øverste nivået i arkivstrukturen. De fleste brukere vil bare ha behov for å opprette 
ett arkiv i sin Noark 5-løsning. Men det skal være mulig å opprette flere arkiver. Det kan være 
aktuelt dersom flere organer deler samme løsning. Det kan også være aktuelt dersom en hel 
etat deler samme løsning. Her kan da f.eks. hovedkontoret og hvert distriktskontor settes opp 
med hvert sitt arkiv. Men ved elektronisk arkivering er det heller ikke noe i veien for at hele 
etaten deler samme arkiv, selv om de enkelte avdelinger er spredt over et stort geografisk 
område. 

Arkiv er obligatorisk i et arkivuttrekk. Toppnivået skal bare ha én forekomst, men kan ha ett 
eller flere undernivåer, se om underarkiv nedenfor. Et arkiv skal inneholde en eller flere 
arkivdeler. Dersom arkivet består av underarkiver, skal arkivdel være knyttet til det laveste 
nivået av disse. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="arkivstatus" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:ArkivstatusType" />
          <xs:element name="dokumentmedium" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:DokumentmediumType" />
          <xs:element name="oppbevaringssted" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="avsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseAvsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="arkivskaper" minOccurs="1" maxOccurs="1" type="as:ArkivskaperListe" />
          <xs:element name="arkivdel" minOccurs="0" maxOccurs="1" nillable="true" type="as:ArkivdelListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Arkivdel" type="as:ArkivdelType" />
  <xs:complexType name="ArkivdelListe">
    <xs:sequence>
      <xs:element name="arkivdel" type="as:ArkivdelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="ArkivdelType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_065C79A2_FFF3_46ba_BBE8_A71E26AAD962">
    <xs:annotation>
      <xs:documentation>Et arkiv skal kunne deles opp i arkivdeler for å gruppere arkivet etter overordnede kriterier. De 
viktigste kriteriene for oppdeling i arkivdeler er: 
l Skille mellom aktivt arkiv og avsluttede arkivperioder (tradisjonelt kalt 
bortsettingsarkiver). Viktige funksjoner i forbindelse med periodisering og produksjon 
av arkivuttrekk er knyttet til en arkivdel. 
l Skille mellom mapper som skal periodiseres etter forskjellige prinsipper. Emneordnede 
saksmapper kan periodiseres f.eks. hvert femte år, mens personalmapper kan beholdes i 
et aktiv arkiv så lenge en person er ansatt. 
l Skille mellom saksmapper som er klassifisert etter forskjellige prinsipper. 
l Skille mellom elektronisk arkiv og fysisk arkiv. Hovedregelen er at hele mapper enten 
skal være fysiske eller elektroniske. Men det kan gis dispensasjon fra denne regelen, 
slik at enkelte registreringer kan være fysiske og andre elektroniske i samme mappe. 
Dersom et stort vedlegg (f.eks. en trykksak) ikke er blitt skannet, kan også fysiske 
dokumenter forekomme sammen med elektroniske dokumenter i samme registrering 
(journalpost). 
l Skille mellom sakarkivet og andre typer arkiver, f.eks. arkiver tilknyttet fagsystemer. 
Noen vil ha behov for et klart skille mellom de administrative sakene og fagsakene. Det 
vil også være et behov for å skille ut møtedokumenter. 
l Skille mellom mapper, registreringer eller dokumenttyper som skal bevares eller som 
skal kasseres. 
l Skille mellom mapper, registreringer eller dokumenttyper som er offentlige eller som 
skal skjermes. 

Arkivdel er obligatorisk i et arkivuttrekk, og skal forekomme én eller flere ganger i et arkiv. 
Dersom arkivet er delt opp i underarkiver, skal arkivdel bare kunne knyttes til det laveste 
arkivnivået. Dersom det dreier seg om et sakarkiv, skal arkivdelen inneholde et primært 
klassifikasjonssystem. Arkivdelen kan i tillegg inneholde et eller flere sekundære 
klassifikasjonssystemer. I et fagsystem uten klassifikasjon, skal arkivdelen inneholde én 
eller flere mapper. I et fagsystem uten klassifikasjon og mapper, skal arkivdelen inneholde 
én eller flere registreringer. 

Arkivdeler kan brukes til å skille ut dokumenter som skal kasseres etter andre regler enn 
resten av dokumentene i mappen (f.eks. alle inngående dokumenter) eller registreringen 
(f.eks. alle vedlegg). Slike regler kan da knyttes til en egen arkivdel. Se mer om dette i 
NOARK 5 v3.1 kapittel 5.10 Bevaring og kassasjon, om kassasjon av dokumenttyper.
Det samme gjelder dokumenter som skal skjermes etter andre regler enn resten av 
dokumentene i mappen eller registreringen. Se mer under NOARK 5 v3.1 kapittel 6.6.1 Skjerming. 

Dessuten kan det være tilfeller hvor noen dokumenter i en mappe eller registrering er 
arkivert på papir, mens resten av dokumentene er elektroniske. En egen arkivdel skiller da 
ut disse dokumentene. 

Arkivdeler som brukes til å angi andre kassasjonsvedtak, skjermingsregler og 
dokumentmedium enn de som gjelder for resten av innholdet i arkivet, vil være "tomme" – 
dvs. de har ikke egne barn. Mapper, registreringer og dokumentbeskrivelse som har 
referanse til slike arkivdeler, skal arve metadata fra disse. Disse mappene, registreringene 
og dokumentbeskrivelsene vil indirekte også tilhøre arkivdelen som er utgangspunktet for 
den hierarkiske arkivstrukturen, men arv herfra blir overstyrt.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="arkivdelstatus" minOccurs="1" maxOccurs="1" type="n5mdk:ArkivdelstatusType" />
          <xs:element name="dokumentmedium" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:DokumentmediumType" />
          <xs:element name="oppbevaringssted" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="avsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseAvsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="arkivperiodeStartDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="arkivperiodeSluttDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="referanseForloeper" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="referanseArvtaker" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="kassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:KassasjonType" />
          <xs:element name="skjerming" minOccurs="0" maxOccurs="1" nillable="true" type="as:SkjermingType" />
          <xs:element name="gradering" minOccurs="0" maxOccurs="1" nillable="true" type="as:GraderingType" />
          <xs:element name="mappe" minOccurs="0" maxOccurs="1" nillable="true" type="as:MappeListe" />
          <xs:element name="arkiv" minOccurs="1" maxOccurs="1" type="as:ArkivType" />
          <xs:element name="klassifikasjonssystem" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlassifikasjonssystemType" />
          <xs:element name="sekundaerklassifikasjonssystem" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlassifikasjonssystemListe" />
          <xs:element name="registrering" minOccurs="0" maxOccurs="1" nillable="true" type="as:RegistreringListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstraktArkivenhet" type="as:AbstraktArkivenhetType" />
  <xs:complexType name="AbstraktArkivenhetListe">
    <xs:sequence>
      <xs:element name="abstraktarkivenhet" type="as:AbstraktArkivenhetType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="AbstraktArkivenhetType" abstract="true" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A329F504_6163_4dd4_978A_BB3A484101B4">
    <xs:annotation>
      <xs:documentation>En arkivenhet (se NOARK 5 v3.1 krav 5.1.2 og 5.1.3) skal kunne 
identifiseres entydig innenfor det arkivskapende 
organet. I et arkivuttrekk skal denne identifikasjonen 
hete systemID, og være entydig på tvers av alle uttrekk 
som organet produserer, dermed også på tvers av alle 
systemer organet benytter. Også arkivenheter som 
dupliseres i et arkivuttrekk, skal identifiseres entydig, 
slik at identiske arkivenheter har ulik systemID. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="oppdatertDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="opprettetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="opprettetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="oppdatertAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseOppdatertAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="referanseOpprettetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="logg" minOccurs="0" maxOccurs="1" nillable="true" type="as:HendelsesloggListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Arkivskaper" type="as:ArkivskaperType" />
  <xs:complexType name="ArkivskaperListe">
    <xs:sequence>
      <xs:element name="arkivskaper" type="as:ArkivskaperType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="ArkivskaperType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_2DD450D1_F1ED_4aa7_9E1F_AF63EC50477E">
    <xs:annotation>
      <xs:documentation>Tradisjonelt har et arkiv blitt definert etter organisasjon. Ett organ skaper ett arkiv, dvs. 
organet er arkivskaperen. Men elektronisk informasjonsteknologi har ført til at det blir stadig 
vanligere at flere arkivskapere sammen skaper ett arkiv. Arkivet vil da være definert etter 
funksjon, ikke organisasjon
. 

I en Noark 5-løsning skal det altså være mulig å knytte en eller flere arkivskapere til ett arkiv. 
Informasjon om arkivskapere er obligatorisk i arkivuttrekk. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="arkivskaperID" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="arkivskaperNavn" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="arkiv" minOccurs="0" maxOccurs="1" nillable="true" type="as:ArkivListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentbeskrivelse" type="as:DokumentbeskrivelseType" />
  <xs:complexType name="DokumentbeskrivelseListe">
    <xs:sequence>
      <xs:element name="dokumentbeskrivelse" type="as:DokumentbeskrivelseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="DokumentbeskrivelseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_16C8192E_0EFB_4844_8623_12DF68FAAF5C">
    <xs:annotation>
      <xs:documentation>Et dokument er et informasjonsobjekt som kan behandles som en enhet. For å understreke at 
det dreier seg om en enhet, kan vi bruke begrepet enkeltdokument. En registrering som 
dokumenterer en transaksjon, vil vanligvis bestå av bare ett enkeltdokument. 
Dokumentbeskrivelsen inneholder altså metadata for enkeltdokumenter. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="dokumenttype" minOccurs="1" maxOccurs="1" type="n5mdk:DokumenttypeType" />
          <xs:element name="dokumentstatus" minOccurs="1" maxOccurs="1" type="n5mdk:DokumentstatusType" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="forfatter" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="dokumentmedium" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:DokumentmediumType" />
          <xs:element name="oppbevaringssted" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="kassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:KassasjonType" />
          <xs:element name="utfoertKassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:UtfoertKassasjonType" />
          <xs:element name="skjerming" minOccurs="0" maxOccurs="1" nillable="true" type="as:DokumentskjermingType" />
          <xs:element name="gradering" minOccurs="0" maxOccurs="1" nillable="true" type="as:GraderingType" />
          <xs:element name="elektroniskSignatur" minOccurs="0" maxOccurs="1" nillable="true" type="as:ElektroniskSignaturType" />
          <xs:element name="virksomhetsspesifikkeMetadata" minOccurs="0" maxOccurs="1" nillable="true" type="as:VirksomhetsspesifikkeMetadataType" />
          <xs:element name="merknad" minOccurs="0" maxOccurs="1" nillable="true" type="as:MerknadListe" />
          <xs:element name="dokumentlink" minOccurs="1" maxOccurs="1" type="as:DokumentlinkListe" />
          <xs:element name="dokumentobjekt" minOccurs="0" maxOccurs="1" nillable="true" type="as:DokumentobjektListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentlink" type="as:DokumentlinkType" />
  <xs:complexType name="DokumentlinkListe">
    <xs:sequence>
      <xs:element name="dokumentlink" type="as:DokumentlinkType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="DokumentlinkType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_9A15A935_EBA0_40f3_B2C2_81A1DD958930">
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="tilknyttetRegistreringSom" minOccurs="1" maxOccurs="1" type="n5mdk:TilknyttetRegistreringSomType" />
          <xs:element name="dokumentnummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
          <xs:element name="tilknyttetDato" minOccurs="1" maxOccurs="1" type="xs:date" />
          <xs:element name="tilknyttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseTilknyttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="registrering" minOccurs="0" maxOccurs="1" nillable="true" type="as:RegistreringType" />
          <xs:element name="dokumentbeskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="as:DokumentbeskrivelseType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentobjekt" type="as:DokumentobjektType" />
  <xs:complexType name="DokumentobjektListe">
    <xs:sequence>
      <xs:element name="dokumentobjekt" type="as:DokumentobjektType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="DokumentobjektType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A7642A0D_41DB_4b21_9CC7_EFF2C5AE741B">
    <xs:annotation>
      <xs:documentation>Dokumentobjekt er det laveste metadatanivået i arkivstrukturen. Et dokumentobjekt skal 
referere til én og kun en dokumentfil. Dokumentfila inneholder selve dokumentet. Dersom 
dokumentet er arkivert i flere versjoner, må vi ha et dokumentobjekt og en dokumentfil for 
hver versjon. Hver versjon av dokumentet kan dessuten arkiveres i flere forskjellige formater, 
og da må det i tillegg opprettes egne dokumentobjekter og dokumentfiler for hvert format. I 
noen tilfeller kan det også være aktuelt å lage varianter av enkelte dokumenter. Den mest 
vanlige varianten vil være et "sladdet" dokument hvor taushetsbelagt informasjon er fjernet slik 
at varianten kan være offentlig tilgjengelig. Dokumentobjektet inneholder mer tekniske 
metadata enn de andre arkivenhetene, bl.a. sjekksummen til bytesekvensen som representerer 
dokumentet. 
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="versjonsnummer" minOccurs="1" maxOccurs="1" type="xs:integer" />
          <xs:element name="variantformat" minOccurs="1" maxOccurs="1" type="n5mdk:VariantformatType" />
          <xs:element name="format" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:FormatType" />
          <xs:element name="formatDetaljer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="opprettetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="opprettetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseDokumentfil" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="filnavn" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="sjekksum" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="mimeType" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="sjekksumAlgoritme" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="filstoerrelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="elektroniskSignatur" minOccurs="0" maxOccurs="1" nillable="true" type="as:ElektroniskSignaturType" />
          <xs:element name="konvertering" minOccurs="0" maxOccurs="1" nillable="true" type="as:KonverteringListe" />
          <xs:element name="dokumentbeskrivelse" minOccurs="1" maxOccurs="1" type="as:DokumentbeskrivelseType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Dokumentskjerming" type="as:DokumentskjermingType" />
  <xs:complexType name="DokumentskjermingListe">
    <xs:sequence>
      <xs:element name="dokumentskjerming" type="as:DokumentskjermingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="DokumentskjermingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_8BF12B7D_B42F_4b43_B36F_644DB4AD2D96">
    <xs:annotation>
      <xs:documentation>Skjerming benyttes til å skjerme registrerte opplysninger eller enkeltdokumenter. Skjermingen 
trer i kraft når en tilgangskode påføres den enkelte mappe, registrering eller det enkelte 
dokument. (Se NOARK 5 v3.1 eget kapittel: 6.6.1 Skjerming) </xs:documentation>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="tilgangsrestriksjon" minOccurs="1" maxOccurs="1" type="n5mdk:TilgangsrestriksjonType" />
      <xs:element name="skjermingshjemmel" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="skjermingDokument" minOccurs="1" maxOccurs="1" type="n5mdk:SkjermingDokumentType" />
      <xs:element name="skjermingsvarighet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
      <xs:element name="skjermingOpphoererDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
      <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ElektroniskSignatur" type="as:ElektroniskSignaturType" />
  <xs:complexType name="ElektroniskSignaturListe">
    <xs:sequence>
      <xs:element name="elektronisksignatur" type="as:ElektroniskSignaturType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="ElektroniskSignaturType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_AD333A50_83F2_4319_9DEA_35DF8B09E4CA">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="elektroniskSignaturSikkerhetsnivaa" minOccurs="1" maxOccurs="1" type="n5mdk:ElektroniskSignaturSikkerhetsnivaaType" />
          <xs:element name="elektroniskSignaturVerifisert" minOccurs="1" maxOccurs="1" type="n5mdk:ElektroniskSignaturVerifisertType" />
          <xs:element name="verifisertDato" minOccurs="1" maxOccurs="1" type="xs:date" />
          <xs:element name="verifisertAv" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="referanseVerifisertAv" minOccurs="1" maxOccurs="1" type="n5mdk:SystemIDType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Gradering" type="as:GraderingType" />
  <xs:complexType name="GraderingListe">
    <xs:sequence>
      <xs:element name="gradering" type="as:GraderingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="GraderingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_923D0C72_5EAD_4019_820E_B195F23AC496">
    <xs:annotation>
      <xs:documentation>Metadata for gradering skal grupperes inn i metadata for mappe, registrering og 
dokumentbeskrivelse. Gradering er valgfritt, og kan forekomme en gang</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="graderingskode" minOccurs="1" maxOccurs="1" type="n5mdk:GraderingskodeType" />
          <xs:element name="graderingsdato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="gradertAv" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="referanseGradertAv" minOccurs="1" maxOccurs="1" type="n5mdk:SystemIDType" />
          <xs:element name="nedgraderingsdato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="nedgradertAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseNedgradertAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Hendelseslogg" type="as:HendelsesloggType" />
  <xs:complexType name="HendelsesloggListe">
    <xs:sequence>
      <xs:element name="hendelseslogg" type="as:HendelsesloggType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="HendelsesloggType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_B3CF7F82_2466_4073_9B2E_5DDC637D0A49">
    <xs:complexContent>
      <xs:extension base="ls:EndringsloggType">
        <xs:sequence>
          <xs:element name="hendelsetype" minOccurs="1" maxOccurs="1" type="n5mdk:HendelsetypeType" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="hendelseDato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kassasjon" type="as:KassasjonType" />
  <xs:complexType name="KassasjonListe">
    <xs:sequence>
      <xs:element name="kassasjon" type="as:KassasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KassasjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_ED3B516A_A738_4218_8B9A_7A99EFD0CCBC">
    <xs:annotation>
      <xs:documentation>Kassasjon vil si at elektroniske dokumenter fjernes fra arkivstrukturen. Dersom dokumentet 
ikke er tilknyttet andre registreringer, innebærer en kassasjon også at dokumentet slettes helt 
fra Noark 5-løsningen. Kassasjon av fysiske dokumenter vil si at de plukkes ut fra stedet de 
oppbevares, og makuleres eller destrueres på en betryggende måte.

Inneholder vedtak om kassasjon. Kassasjonsvedtak bestemmer hvilket arkivmateriale som skal 
fjernes fra arkivet og tilintetgjøres. (Se NOARK 5 v3.1 eget kapittel: 5.10 Bevaring og kassasjon) 

Metadata for bevaring og kassasjon skal grupperes inn i metadata for arkivdel, klasse, mappe, 
registrering og dokumentbeskrivelse. Funksjonalitet for kassasjon er obligatorisk i alle Noark 
5-løsninger, men det kan gis dispensasjon til fagsystemløsninger hvor kassasjon er uaktuelt. 

Overordnede kassasjonsbestemmelser kan settes på arkiv- og klassenivå, og skal da arves 
nedover i arkivstrukturen til mappe, registrering og dokumentbeskrivelse. Verdiene som arves 
skal kunne overstyres. Ved deponering/avlevering er det bare kassasjonsvedtak som innebærer 
kassasjon som skal være med. Det skal altså ikke knyttes opplysninger om kassasjon til 
arkivenheter hvor alle tilordnede dokumenter skal bevares. Kassasjon kan altså være knyttet 
en gang til arkivdel, klasse, mappe, registrering og dokumentbeskrivelse. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="kassasjonsvedtak" minOccurs="1" maxOccurs="1" type="n5mdk:KassasjonsvedtakType" />
          <xs:element name="kassasjonshjemmel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="bevaringstid" minOccurs="1" maxOccurs="1" type="xs:integer" />
          <xs:element name="kassasjonsdato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Klasse" type="as:KlasseType" />
  <xs:complexType name="KlasseListe">
    <xs:sequence>
      <xs:element name="klasse" type="as:KlasseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KlasseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_F3A0847C_E4D2_49a0_ADA7_FE67F635D3BE">
    <xs:annotation>
      <xs:documentation>Et klassifikasjonssystem er bygd opp av klasser. Ved funksjonsbasert (emnebasert) 
klassifikasjon vil klassene vanligvis inngå i et hierarki, hvor tre eller fire nivåer er det vanlige. 
I den konseptuelle modellen er undernivåene kalt underklasser, og fremkommer som en egenrelasjon i Klasse5. 

ISO 15489 anbefaler at klassene beskriver organets funksjoner og aktiviteter 
(forretningsprosesser). Øverste nivå vil da typisk beskrive hovedfunksjonene, nivå to kan beskrive underfunksjoner og nivå tre prosessene (dvs. aktiviteter som stadig gjentas). 

Klassene skal ha en egen identifikasjon som er unik innenfor klassifikasjonssystemet. Dette tilsvarer det som er kalt ordningsverdi eller arkivkode i Noark-4. Identifikasjoner fra overordnede klasser skal arves nedover i hierarkiet, slik at det er lett å si hvilket nivå en befinner seg på6</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="klasseID" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="noekkelord" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="avsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseAvsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="skjerming" minOccurs="0" maxOccurs="1" nillable="true" type="as:SkjermingType" />
          <xs:element name="kassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:KassasjonType" />
          <xs:element name="skjermetKlasse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
          <xs:element name="klassifikasjonssystem" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlassifikasjonssystemType" />
          <xs:element name="registrering" minOccurs="0" maxOccurs="1" nillable="true" type="as:RegistreringListe" />
          <xs:element name="mappe" minOccurs="0" maxOccurs="1" nillable="true" type="as:MappeListe" />
          <xs:element name="kryssreferanse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KryssreferanseListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Klassifikasjonssystem" type="as:KlassifikasjonssystemType" />
  <xs:complexType name="KlassifikasjonssystemListe">
    <xs:sequence>
      <xs:element name="klassifikasjonssystem" type="as:KlassifikasjonssystemType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KlassifikasjonssystemType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_EF4753FE_2FA5_4ed3_BB94_0277B15EF377">
    <xs:annotation>
      <xs:documentation>Moderne arkivteori legger vekt på at klassifikasjonssystemet skal være funksjonsbasert. Alle 
virksomheter utøver et bestemt antall funksjoner. Disse er ofte stabile over tid, men funksjoner kan overføres fra en virksomhet til en annen. Et eksempel på en slik overføring er når saksområder flytter fra et departement til et annet, noe som ofte skjer i forbindelse med et regjeringsskifte. En virksomhet vil vanligvis bare ha et fåtall hovedfunksjoner, men disse er det naturlig å dele opp i underfunksjoner. 

Funksjoner/underfunksjoner deles inn i aktiviteter. I motsetning til en funksjon, har en aktivitet en begynnelse og en slutt. En aktivitet har også deltakere, og den fører til et resultat. Dersom en aktivitet stadig gjentar seg, tilhører den en prosess. Alle arkivdokumenter som produseres når en aktivitet utføres, skal normalt tilhøre samme (saks)mappe. 
</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="klassifikasjonstype" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:KlassifikasjonstypeType" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="avsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseAvsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="klasse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlasseListe" />
          <xs:element name="arkivdel" minOccurs="1" maxOccurs="1" type="as:ArkivdelListe" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Konvertering" type="as:KonverteringType" />
  <xs:complexType name="KonverteringListe">
    <xs:sequence>
      <xs:element name="konvertering" type="as:KonverteringType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KonverteringType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_33A3D7F4_63D3_4079_B1F3_655F44C6A7E3">
    <xs:annotation>
      <xs:documentation>Alle arkivdokumenter som skal avleveres må være i arkivformat. Konvertering til arkivformat 
skal foretas senest ved avslutning av mappe (jf. NOARK 5 v3.1 krav 6.1.11). Systemet skal logge alle 
konverteringer, og informasjon om dette skal tas med ved deponering/avlevering. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="konvertertDato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="konvertertAv" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="konvertertFraFormat" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="konvertertTilFormat" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="konverteringsverktoey" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="konverteringskommentar" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseKonvertertAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Kryssreferanse" type="as:KryssreferanseType" />
  <xs:complexType name="KryssreferanseListe">
    <xs:sequence>
      <xs:element name="kryssreferanse" type="as:KryssreferanseType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="KryssreferanseType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_84C37388_F2C5_41ff_B4CA_B6AE9151E66D">
    <xs:annotation>
      <xs:documentation>Dette er en referanse på tvers av hierarkiet i arkivstrukturen. Referansen kan gå fra en mappe 
til en annen mappe, fra en registrering til en annen registrering, fra en mappe til en registrering 
og fra en registrering til en mappe. Det kan også refereres fra en klasse til en annen klasse. 

Kryssreferanse er valgfritt, og kan knyttes en eller flere ganger til klasse, mappe og 
basisregistrering. Referansen går en vei, dvs. den kan kun være en referanse til en arkivenhet. I 
og med at kryssreferanser knyttes til Mappe og Basisregistrering, vil det si at Referanser også 
knyttes til alle utvidelsene (spesialiseringer) under disse (Saksmappe, Møtemappe og 
Journalpost, Møteregistrering). </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="referanseTilMappe" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="referanseTilKlasse" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="referanseTilRegistrering" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="mappe" minOccurs="0" maxOccurs="1" nillable="true" type="as:MappeType" />
          <xs:element name="registrering" minOccurs="0" maxOccurs="1" nillable="true" type="as:RegistreringType" />
          <xs:element name="klasse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlasseType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Mappe" type="as:MappeType" />
  <xs:complexType name="MappeListe">
    <xs:sequence>
      <xs:element name="mappe" type="as:MappeType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="MappeType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_BEB30D94_3115_4526_9F00_D05A2BFD27CF">
    <xs:annotation>
      <xs:documentation>En mappe grupperer dokumenter som på en eller annen måte hører sammen. Helst bør dokumentene i en mappe utgjøre en instans (dvs. en utførelse) av en aktivitet, med en definert begynnelse og slutt. Et eksempel på dette er enkeltsaker i et sakarkiv. En slik sak kan f.eks. omhandle et spørsmål som er til behandling, og dokumentene i saken vil da utgjøre behandlingsforløpet for dette spørsmålet. Slike saker kan typisk starte med en søknad eller henvendelse utenfra, og ende med et vedtak. 
Men av og til er det naturlig å gruppere dokumentene i en mappe etter andre kriterier. I noen tilfeller legges alle dokumenter som omhandler et objekt i én mappe, f.eks. personalmapper. Slike mapper kalles også dossiermapper. I andre tilfeller kan det være naturlig å legge alle dokumentene som tilhører samme prosess (dvs. gjentakelse av samme type aktivitet) i samme mappe. Dette vil ofte dreie seg om svært rutinemessige aktiviteter, hvor hver aktivitet kanskje bare skaper ett dokument. I sakarkiver er dette kjent som samlemapper eller samlesaker. 

Måten innholdet i en mappe grupperes på, vil avhenge av klassifikasjonssystemet. En trenger ikke nødvendigvis å ha egne personalmapper dersom klassifikasjonssystemet er objektbasert på person. Innholdet i personalmappen kan da ordnes etter aktivitet. Dersom en likevel velger å ha personalmapper, kan klassifikasjonssystemet være på et overordnet nivå med bare noen få klasser. Dokumentene som skapes i et bestemt prosjekt kan samles i en prosjektmappe (med 
undermapper), men det er sannsynligvis bedre å definere prosjektet i klassifikasjonssystemet og gruppere mappene etter instanser av aktiviteter. 

Mapper skal ha en egen identifikasjon som er unik innenfor et og samme arkiv. Noark 5 stiller ingen krav til hvordan denne koden skal se ut. Når det gjelder saksmapper, anbefales det at en fortsetter med samme mal som i tidligere versjoner av Noark-standarden - dvs. en kombinasjon av årstallet da mappen ble opprettet og et fortløpende seksjonsnummer innenfor året, f.eks. 2011/3869. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="mappeID" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="mappetype" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:MappetypeType" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="offentligTittel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="noekkelord" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="dokumentmedium" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:DokumentmediumType" />
          <xs:element name="oppbevaringssted" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="avsluttetDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="avsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseAvsluttetAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="kassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:KassasjonType" />
          <xs:element name="skjerming" minOccurs="0" maxOccurs="1" nillable="true" type="as:SkjermingType" />
          <xs:element name="gradering" minOccurs="0" maxOccurs="1" nillable="true" type="as:GraderingType" />
          <xs:element name="referanseForelderMappe" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="virksomhetsspesifikkeMetadata" minOccurs="0" maxOccurs="1" nillable="true" type="as:VirksomhetsspesifikkeMetadataType" />
          <xs:element name="skjermetTittel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
          <xs:element name="merknad" minOccurs="0" maxOccurs="1" nillable="true" type="as:MerknadListe" />
          <xs:element name="registrering" minOccurs="0" maxOccurs="1" nillable="true" type="as:RegistreringListe" />
          <xs:element name="klasse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlasseType" />
          <xs:element name="nasjonalidentifikator" minOccurs="0" maxOccurs="1" nillable="true" type="as:AbstraktNasjonalidentifikatorListe" />
          <xs:element name="kryssreferanse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KryssreferanseListe" />
          <xs:element name="arkivdel" minOccurs="0" maxOccurs="1" nillable="true" type="as:ArkivdelType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Merknad" type="as:MerknadType" />
  <xs:complexType name="MerknadListe">
    <xs:sequence>
      <xs:element name="merknad" type="as:MerknadType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="MerknadType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DAB37918_A553_43fd_B9CE_1095A0889E27">
    <xs:annotation>
      <xs:documentation>En eller flere merknader skal kunne knyttes til en mappe, basisregistrering eller en 
dokumentbeskrivelse. Merknader skal brukes for å dokumentere spesielle forhold rundt 
saksbehandlingen og arkivering av dokumenter, og denne informasjonen skal tas med i 
arkivuttrekket. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="merknadstekst" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="merknadstype" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:MerknadstypeType" />
          <xs:element name="merknadsdato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="merknadRegistrertAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseMerknadRegistrertAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="skjermetMerknad" minOccurs="1" maxOccurs="1" type="xs:boolean" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Registrering" type="as:RegistreringType" />
  <xs:complexType name="RegistreringListe">
    <xs:sequence>
      <xs:element name="registrering" type="as:RegistreringType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="RegistreringType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DE6F21D6_6F00_4a5c_84C5_DB3752B39457">
    <xs:annotation>
      <xs:documentation>En registrering inneholder bare de metadata som er nødvendig dersom dokumentet arkiveres uten journalføring. Dette kalles også forenklet registrering.</xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="as:AbstraktArkivenhetType">
        <xs:sequence>
          <xs:element name="arkivertDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:dateTime" />
          <xs:element name="registreringsID" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="arkivertAv" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="tittel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="offentligTittel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="referanseArkivertAv" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="kassasjon" minOccurs="0" maxOccurs="1" nillable="true" type="as:KassasjonType" />
          <xs:element name="noekkelord" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="skjerming" minOccurs="0" maxOccurs="1" nillable="true" type="as:SkjermingType" />
          <xs:element name="forfatter" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="gradering" minOccurs="0" maxOccurs="1" nillable="true" type="as:GraderingType" />
          <xs:element name="dokumentmedium" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:DokumentmediumType" />
          <xs:element name="referanseArkivdel" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="oppbevaringssted" minOccurs="0" maxOccurs="unbounded" nillable="true" type="xs:string" />
          <xs:element name="virksomhetsspesifikkeMetadata" minOccurs="0" maxOccurs="1" nillable="true" type="as:VirksomhetsspesifikkeMetadataType" />
          <xs:element name="skjermetTittel" minOccurs="0" maxOccurs="1" nillable="true" type="xs:boolean" />
          <xs:element name="klasse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KlasseType" />
          <xs:element name="nasjonalidentifikator" minOccurs="0" maxOccurs="1" nillable="true" type="as:AbstraktNasjonalidentifikatorListe" />
          <xs:element name="merknad" minOccurs="0" maxOccurs="1" nillable="true" type="as:MerknadListe" />
          <xs:element name="mappe" minOccurs="0" maxOccurs="1" nillable="true" type="as:MappeType" />
          <xs:element name="dokumentlink" minOccurs="0" maxOccurs="1" nillable="true" type="as:DokumentlinkListe" />
          <xs:element name="kryssreferanse" minOccurs="0" maxOccurs="1" nillable="true" type="as:KryssreferanseListe" />
          <xs:element name="arkivdel" minOccurs="0" maxOccurs="1" nillable="true" type="as:ArkivdelType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Skjerming" type="as:SkjermingType" />
  <xs:complexType name="SkjermingListe">
    <xs:sequence>
      <xs:element name="skjerming" type="as:SkjermingType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="SkjermingType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_53B4957A_C2D7_42d5_A20D_ADA980FCFF0B">
    <xs:annotation>
      <xs:documentation>Skjerming benyttes til å skjerme registrerte opplysninger eller enkeltdokumenter. Skjermingen 
trer i kraft når en tilgangskode påføres den enkelte mappe, registrering eller det enkelte 
dokument. (Se NOARK 5 v3.1 eget kapittel: 6.6.1 Skjerming) </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="tilgangsrestriksjon" minOccurs="1" maxOccurs="1" type="n5mdk:TilgangsrestriksjonType" />
          <xs:element name="skjermingshjemmel" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="skjermingMetadata" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SkjermingMetadataListe" />
          <xs:element name="skjermingsvarighet" minOccurs="0" maxOccurs="1" nillable="true" type="xs:integer" />
          <xs:element name="skjermingOpphoererDato" minOccurs="0" maxOccurs="1" nillable="true" type="xs:date" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="UtfoertKassasjon" type="as:UtfoertKassasjonType" />
  <xs:complexType name="UtfoertKassasjonListe">
    <xs:sequence>
      <xs:element name="utfoertkassasjon" type="as:UtfoertKassasjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="UtfoertKassasjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_D8026F2C_516C_43ff_9C63_1E5EF86A1B31">
    <xs:annotation>
      <xs:documentation>Metadata for utført kassasjon er obligatorisk når kassasjon er utført før arkivuttrekket 
produseres. Det skal grupperes inn i metadata for dokumentbeskrivelse. Dersom en hel 
arkivdel er kassert, skal metadata grupperes inn i arkivdel. </xs:documentation>
    </xs:annotation>
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="kassertDato" minOccurs="1" maxOccurs="1" type="xs:dateTime" />
          <xs:element name="kassertAv" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="referanseKassertAv" minOccurs="1" maxOccurs="1" type="n5mdk:SystemIDType" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VirksomhetsspesifikkeMetadata" type="as:VirksomhetsspesifikkeMetadataType" />
  <xs:complexType name="VirksomhetsspesifikkeMetadataListe">
    <xs:sequence>
      <xs:element name="virksomhetsspesifikkemetadata" type="as:VirksomhetsspesifikkeMetadataType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="VirksomhetsspesifikkeMetadataType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_E042AF49_41F0_4409_9325_BBF1BADC88C4">
    <xs:sequence>
      <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VirksomhetsspesifikkeMetadataElement" type="as:VirksomhetsspesifikkeMetadataElementType" />
  <xs:complexType name="VirksomhetsspesifikkeMetadataElementListe">
    <xs:sequence>
      <xs:element name="virksomhetsspesifikkemetadataelement" type="as:VirksomhetsspesifikkeMetadataElementType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="VirksomhetsspesifikkeMetadataElementType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_905E466D_1EFC_4cff_839C_63FF94EC392A">
    <xs:sequence>
      <xs:element name="Key" minOccurs="1" maxOccurs="1" type="xs:string" />
      <xs:element name="Value" minOccurs="1" maxOccurs="1" type="xs:anyType" />
      <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Bygning" type="as:BygningType" />
  <xs:complexType name="BygningListe">
    <xs:sequence>
      <xs:element name="bygning" type="as:BygningType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="BygningType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_4137C625_6EB2_4049_B33B_CD7EE9B29B34">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="byggidentifikator" minOccurs="1" maxOccurs="1" type="matrikkelfellesns:ByggIdent" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Enhetsidentifikator" type="as:EnhetsidentifikatorType" />
  <xs:complexType name="EnhetsidentifikatorListe">
    <xs:sequence>
      <xs:element name="enhetsidentifikator" type="as:EnhetsidentifikatorType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="EnhetsidentifikatorType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_F59C3211_2EAE_41af_BED3_E93FE685E38A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="organisasjonsnummer" minOccurs="1" maxOccurs="1" type="xs:string" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Matrikkel" type="as:MatrikkelType" />
  <xs:complexType name="MatrikkelListe">
    <xs:sequence>
      <xs:element name="matrikkel" type="as:MatrikkelType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="MatrikkelType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_9802F947_F1ED_4e8c_8E2A_C026DBC8DFB7">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="matrikkelnummer" minOccurs="1" maxOccurs="1" type="matrikkelfellesns:Matrikkelnummer" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AbstraktNasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorType" />
  <xs:complexType name="AbstraktNasjonalidentifikatorListe">
    <xs:sequence>
      <xs:element name="abstraktnasjonalidentifikator" type="as:AbstraktNasjonalidentifikatorType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="AbstraktNasjonalidentifikatorType" abstract="true" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_03674EDA_F50A_4b92_87AE_9170690ABDB5">
    <xs:complexContent>
      <xs:extension base="rest:AbstraktResourceType">
        <xs:sequence>
          <xs:element name="systemID" minOccurs="0" maxOccurs="1" nillable="true" type="n5mdk:SystemIDType" />
          <xs:element name="beskrivelse" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Personidentifikator" type="as:PersonidentifikatorType" />
  <xs:complexType name="PersonidentifikatorListe">
    <xs:sequence>
      <xs:element name="personidentifikator" type="as:PersonidentifikatorType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="PersonidentifikatorType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_C630DD72_8542_42c0_AB2C_9E439249961A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="foedselsnummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="dNummer" minOccurs="0" maxOccurs="1" nillable="true" type="xs:string" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Plan" type="as:PlanType" />
  <xs:complexType name="PlanListe">
    <xs:sequence>
      <xs:element name="plan" type="as:PlanType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="PlanType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_DFC29D21_2BC8_4c01_AA4B_51EED5CF451A">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="planidentifikator" minOccurs="1" maxOccurs="1" type="planfellesns:NasjonalArealplanId" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Posisjon" type="as:PosisjonType" />
  <xs:complexType name="PosisjonListe">
    <xs:sequence>
      <xs:element name="posisjon" type="as:PosisjonType" minOccurs="0" maxOccurs="unbounded" />
    </xs:sequence>
    <xs:attributeGroup ref="xlink:simpleAttrs" />
  </xs:complexType>
  <xs:complexType name="PosisjonType" sawsdl:modelReference="http://arkivverket.metakat.no/Objekttype/Index/EAID_A4097F77_F9AA_4222_87B6_2B3A88BB1E28">
    <xs:complexContent>
      <xs:extension base="as:AbstraktNasjonalidentifikatorType">
        <xs:sequence>
          <xs:element name="plassering" minOccurs="1" maxOccurs="1" type="fellesgeometrins:Punkt" />
          <xs:element name="_links" minOccurs="0" maxOccurs="1" nillable="true" type="rest:LinkListeType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
</xs:schema>